VITE_API_KEY - Chave de API do Firebase, usada para autenticação e acesso aos serviços do Firebase.
VITE_AUTH_DOMAIN - Domínio de autenticação do Firebase, usado para configurar a autenticação de usuários.
VITE_PROJECT_ID - ID do projeto do Firebase, usado para identificar o projeto no console do Firebase.
VITE_STORAGE_BUCKET - Bucket de armazenamento do Firebase, usado para armazenar arquivos e dados.
VITE_MESSAGING_SENDER_ID - ID do remetente de mensagens do Firebase, usado para configurar o serviço de mensagens.
VITE_APP_ID - ID do aplicativo do Firebase, usado para identificar o aplicativo no console do Firebase.
VITE_MEASUREMENT_ID - ID de medição do Firebase, usado para configurar o Google Analytics para Firebase.
VITE_N8N_HEALTHCHECK_URL - URL de verificação de saúde para o n8n, usado para monitorar o status do serviço n8n.